<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render partial: "spree/shared/head" %>
</head>

<body id="<%= @body_id || 'default' %>"  class="<%= body_class %>"data-hook="body">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= render "spree/shared/header" %>
    <%= render "spree/shared/drawer" %>
    <div class="android-content mdl-layout__content mdl-color--grey-100">
      <div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <%= flash_messages %>
          </div>
          <%= taxon_breadcrumbs(@taxon) %>
          <%= yield %>
        </div>
      </div>
      <%= render "spree/shared/footer" %>
    </div>
  </div>
</body>
</html>
